<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="baidu-site-verification" content="cred9QWvHP" />
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/prettify.css">

<script src="/js/prettify.js"></script>
<script src="/js/jquery.js"></script>

</head>
<body>
<div id="header">
  <h1>Klaus's Blog</h1>
  <h2>on Cloud/Hyper/DCOS</h2>
</div>
<div id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/archives">Archives</a></li>
    <li><a href="/pub">Publications</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>

<div id="content">
	<div id="left">
    {{ content }}
	</div>

	<div id="right">
		<h2>Recent Updates</h2>
    {% for post in site.categories.tech limit:5 %}
      <p> # [{{ post.title }}]({{ post.url }}) </p>
    {% endfor %}

    <!--
		<h2>Ipsum Dolorem</h2>
		<ul>
			<li><a href="#">Sagittis Bibendum Erat</a></li>
			<li><a href="#">Malesuada Turpis</a></li>
			<li><a href="#">Quis Gravida Massa</a></li>
			<li><a href="#">Inerat Viverra Ornare</a></li>
		</ul>
    -->
	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70292147-1', 'auto');
  ga('send', 'pageview');
</script>

<script type="text/javascript">
    $(function(){
        $("pre").addClass("prettyprint");
        prettyPrint();
    });
</script>

</body>
</html>
