<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="baidu-site-verification" content="cred9QWvHP" />
<title>{{ site.title }} </title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/prettify.css">

<script src="/js/prettify.js"></script>
<script src="/js/jquery.js"></script>

</head>
<body>
<div id="header">
  <h1>Klaus's Blog</h1>
  <h2>on BigData & DCOS</h2>
</div>
<div id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/archives">Archives</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>

<div id="content">
  {{ content }}
</div>

</body>
</html>
