---
layout: default
---
<article>
  <header>
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
    <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
    <p><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time></p>
  </header>
{{ content }}
  {% if site.comments.isso %}
  <hr><div id="isso-thread"></div>
  {% endif %}
  {% if site.comments.disqus %}
  <hr><div id="disqus_thread"></div>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}

  <div id="gitalk-container"></div>

  <script type="javascript">
    const gitalk = new Gitalk({
      clientID: '8adae03c4daa3cd47137',
      clientSecret: '5de41292a2e93988e006b1ac707e93cb3ff1f3f1',
      repo: 'k82cn/k82cn.github.io',
      owner: 'k82cn',
      admin: ['k82cn'],
      id: location.pathname,      // Ensure uniqueness and length less than 50
      distractionFreeMode: false  // Facebook-like distraction free mode
    })

    gitalk.render('gitalk-container')
  </script>

</article>

{% if site.show_footer and page.previous.url or page.next.url %}
<footer>
  {% if page.next.url %}<a class="gray" href="{{ page.next.url | relative_url }}">« {{ page.next.title }}</a>{% else %}<span></span>{% endif %}
  {% if page.previous.url %}<a class="gray" href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} »</a>{% else %}<span></span>{% endif %}
</footer>
{% endif %}
